spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: ${JWT_SECRET}
  access-token:
    expiration-minutes: ${ACCESS_TOKEN_EXPIRATION_MINUTES}

auth:
  refresh:
    expiration-days: ${REFRESH_TOKEN_EXPIRATION_DAYS}
cafe24:
  api:
    oauth-url: ${CAFE24_API_OAUTH_URL}
    base-url: ${CAFE24_API_BASE_URL}
    client-id: ${CAFE24_API_CLIENT_ID}
    client-secret: ${CAFE24_API_CLIENT_SECRET}
    redirect-uri: ${CAFE24_API_REDIRECT_URI}
    scope: ${CAFE24_API_SCOPE}

logging:
  level:
    com.almang.inventory.global.cafe24.service.Cafe24OAuthService: DEBUG
    reactor.netty.http.client.HttpClient: DEBUG

