spring:
  application:
    name: inventory-server
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
